.appBar {
  display: flex;
  align-items: center;
  padding: 16px;
  width: 100%;
  
}

.search {
  position: relative;
  border-radius: 4px;
  background-color: rgba(98, 0, 0, 0.467);
  margin-right: 16px;
  width: 100%;
}

@media (min-width: 600px) {
  .search {
    margin-left: 24px;
    width: auto;
  }
}


.inputRoot {
  color: inherit;
}

.inputInput {
  padding: 8px 8px 8px 0;
  padding-left: calc(1em + 32px);
  width: 100%;
  transition: width 200ms;
}

@media (min-width: 960px) {
  .inputInput {
    width: 20ch;
  }
}

.welcome {
  display: flex;
  align-items: center;
  color: white;
}

.avatar {
  margin-right: 16px;
  width: 60px;
  height: 60px;
}

.logo {
  width: 100px; 
  height: auto;
  margin-right: 16px;
}

.postsList {
  max-height: 400px;
  overflow-y: auto;
}

.postItem {
  padding: 10px;
  margin-bottom: 10px;
}


.textContent {
  margin-left: 10px;
}

.textContent b {
  display: block;
  margin-bottom: 10px;
  margin-left: -150px;

}

/* LoginExitoso.css */
.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
